@{
    Layout = "Views/_Layout.cshtml";
}
<div class="jumbotron">
    <div class="container">
        <h1>BTNster</h1>
        <p>Welcome to BTNster, the easy way to autodownload torrents!</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h2><span class="glyphicon glyphicon-cog"></span> Configuration</h2>
            <p>Configure the system</p>
            <p><a class="btn btn-default" href="/Configuration" role="button">Configuration &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <h2><span class="glyphicon glyphicon-tasks"></span> Bots</h2>
            <p>Control the bots</p>
            <p><a class="btn btn-default" href="/Bots" role="button">Bots &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <h2><span class="glyphicon glyphicon-th-list"></span> Filters</h2>
            <p>Filter setup and configuration</p>
            <p><a class="btn btn-default" href="/Filters" role="button">Filters &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <h2><span class="glyphicon glyphicon-stats"></span> Status</h2>
            <p>View current system status</p>
            <p><a class="btn btn-default" href="/Status" role="button">System Status &raquo;</a></p>
        </div>
    </div>

    <hr>
</div>
