@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<BTNster.Web.Models.Bots.EditBotsModel>
@{
    Layout = "Views/_Layout.cshtml";
}
<div class="container-fluid">
</div>
<script src="~/scripts/Filters/editFilter.js"></script>