@{
    Layout = "Views/_Layout.cshtml";
}
<div class="jumbotron">
    <div class="container">
        <h1>BTNster</h1>
        <p>Welcome to BTNster, the easy way to autodownload torrents!</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Configuration</h2>
            <p>Configure the system</p>
            <p><a class="btn btn-default" href="#" role="button">Configuration &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Filters</h2>
            <p>Filter setup and configuration</p>
            <p><a class="btn btn-default" href="#" role="button">Filters &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Status</h2>
            <p>View current system status</p>
            <p><a class="btn btn-default" href="#" role="button">System Status &raquo;</a></p>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; Company 2015</p>
    </footer>
</div>